/* CSS Reset */
body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(GymLandingPageImage/bg.jpg);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 75px;
    top: 20px;
    font-weight: 100;
}
.mid{
     /* border: 2px solid green;  */
     display: block;
    width: 33%;
    margin: 20px auto;
    font-weight: bolder;
    position: sticky;
    top: 0px;
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    /* border: 2px solid yellow; */
    display: inline-block;
    
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 15px;
    
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 5px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey;
}
.left img{
    width: 75px;
    filter: invert(100%);
}
.left div{
    margin: -1px;
    line-height: -2px;
    font-size: 16px;
    text-align: center;
}
.btn{
    margin: 0px 8px;
    color: white;
    background-color: black;
    padding: 4px 7px;
    border: 2px solid rgb(200, 196, 196);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(175, 169, 169);
}
.container{
    border: 2px solid rgb(235, 235, 235);
    margin: 71px 89px;
    padding: 38px 86px;
    width: 24%;
    border-radius: 19px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 90%;
    border-radius: 14px;
    border: 3px solid black;
    margin: 2px auto;
    padding: 10px;
    font-family: "Trirong", serif;
}
.container button{
    display: block;
    width: 23%;
    margin: auto;
}