* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

html , body {
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    color: blue;
    font-size: 40px;
}

h2{
    color: red;
    font-size: 40px;
}

h3{
    color: yellow;
    font-size: 40px;
}
