* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

html , body {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

#page1{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;

}
